<p>memories works!</p>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let memory of memories">
    <td><a [routerLink]="['/memories/', memory.id]">{{memory.id}}</a> </td>
    <td>{{memory.title}}</td>
    <td>{{memory.description}}</td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let memorysvc of memoriessvc">
    <td><a [routerLink]="['/memories', memorysvc.id]">{{memorysvc.id}}</a> </td>
    <td>{{memorysvc.title}}</td>
    <td>{{memorysvc.description}}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
